clients/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="listComptes">
<part name="parameters" element="tns:listComptes"/>
</message>
<message name="listComptesResponse">
<part name="parameters" element="tns:listComptesResponse"/>
</message>
<message name="getConpte">
<part name="parameters" element="tns:getConpte"/>
</message>
<message name="getConpteResponse">
<part name="parameters" element="tns:getConpteResponse"/>
</message>
<message name="conversionEutoMad">
<part name="parameters" element="tns:conversionEutoMad"/>
</message>
<message name="conversionEutoMadResponse">
<part name="parameters" element="tns:conversionEutoMadResponse"/>
</message>
<portType name="BanqueService">
<operation name="listComptes">
<input wsam:Action="http://ws/BanqueService/listComptesRequest" message="tns:listComptes"/>
<output wsam:Action="http://ws/BanqueService/listComptesResponse" message="tns:listComptesResponse"/>
</operation>
<operation name="getConpte">
<input wsam:Action="http://ws/BanqueService/getConpteRequest" message="tns:getConpte"/>
<output wsam:Action="http://ws/BanqueService/getConpteResponse" message="tns:getConpteResponse"/>
</operation>
<operation name="conversionEutoMad">
<input wsam:Action="http://ws/BanqueService/conversionEutoMadRequest" message="tns:conversionEutoMad"/>
<output wsam:Action="http://ws/BanqueService/conversionEutoMadResponse" message="tns:conversionEutoMadResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConpte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversionEutoMad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWs">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8080/"/>
</port>
</service>
</definitions>